  .ufd {display: -moz-inline-stack; display: inline-block; position: relative; white-space: nowrap}
.ufd, .ufd input, .ufd button, #ufd-container div.list-scroll, #ufd-container div.list-wrapper, #ufd-container ul, #ufd-container li {border: 0; margin: 0; padding: 0}
.ufd, .ufd button, #ufd-container div.list-scroll, #ufd-container div.list-wrapper, #ufd-container ul, #ufd-container li {overflow: hidden}
.ufd select, #ufd-container .invisible, .ufd.invisible {display: none}
.ufd input, .ufd button {position: relative; float: left;  box-sizing: content-box; -moz-box-sizing: content-box; -ms-box-sizing: content-box; -webkit-box-sizing: content-box}
.ufd button.disabled {cursor: default}
.ufd input.disabled {color: graytext}
#ufd-container div.list-wrapper {position: absolute}
#ufd-container ul {list-style-type: none}
#ufd-container li {cursor: pointer; height: 17px; display: block; white-space: nowrap; font-size:12px; padding-top:3px}
 .ufd.sexy {height: 20px; background-color: #B5B8C8;  border: 1px solid #B5B8C8}
.ufd.sexy input {height: 18px; line-height: 18px !important; padding: 1px 3px; background: #fff url(../images/autocomplete/text-bg.gif) repeat-x 0 0; border: 0px}
.ufd.sexy input.disabled {background-image: none; color: #777; background-color: #eee !important}
.ufd.sexy button {width: 16px; height: 21px; background: url(../images/autocomplete/icon.gif) no-repeat 0px -1px; margin-left: 1px}
.ufd.sexy button.hover {background-position: -17px -1px}
.ufd.sexy button.mouseDown {background-position: -34px -1px}
.ufd.sexy button.disabled {background-position: -51px -1px !important}
#ufd-container .sexy div.list-scroll {border: 1px solid #B5B8C8; border-top-width: 0px; background-color: #FFFFFF; color:#444}
#ufd-container .sexy div.list-wrapper-up div.list-scroll {border-top-width: 1px; border-bottom-width: 0px}
#ufd-container .sexy li {padding-left: 5px; background-color: white}
#ufd-container .sexy li em {font-weight: bold; font-style: normal}
#ufd-container .sexy li.active {background-color: highlight}
  .createTrade-form-field-league {margin-bottom:20px;width:100%;text-align:center;margin-top:50px;}
.createTrade-form_team-wrap {width:760px;margin:0 auto 0 auto;}
.createTrade-form_team {width:370px;float:left;}
.createTrade-form_team-myTeam {margin-right:20px;}
.createTrade-form_team h3 {margin-bottom:10px;color:#fff;font-size:1.1em;font-weight:bold;width:100%;text-align:center;}
.createTrade-form_team input[type='text'] {width:165px;font-size:13px;}
.createTrade-form_team label {width:125px;display:block;text-align:right;font-weight:bold;font-size:0.8em;letter-spacing:-0.05em;float:left;margin-right:10px;padding-top:3px;}
.createTrade-form_player-wrapLeft {background:url(../images/create-trade_list-item_left.gif) no-repeat top left;padding-left:8px;}
.createTrade-form_player-wrapRight {background:url(../images/create-trade_list-item_right.gif) no-repeat top right;padding-right:8px;}
.createTrade-form_player {background:url(../images/create-trade_list-item_repeat.gif) repeat-x;min-height:116px;padding:5px 0 0 6px;}
.createTrade-form_player .createTrade-form_field {margin-top:8px;width:313px;float:left;clear:both;}
.createTrade-form_player .createTrade-form_field select {width:173px;}
.createTrade-form_team-buttons {width:140px;margin:0 auto 0 auto;}
.createTrade-form_buttons {clear:both;width:197px;height:37px;margin:0px auto 0px auto;padding:40px 0 40px 0;}
.createTrade-form_player-remove {width:15px;height:14px;background:url(../images/close.gif);text-indent:-9999px;float:right;margin-top:4px;}
.createTrade-form_player-remove:hover {cursor:pointer;background-position:0 -14px;}
.createTrade-form-field-comment {padding-top:40px;clear:both;width:615px;text-align:center;margin:0 auto 0 auto;}
.createTrade-form-field-comment label {float:left;text-align:right;width:230px;margin-top:25px;}
.createTrade-form-field-comment textarea {float:right;height:80px;border-width:3px;width:350px;margin-left:20px;}
.createTrade-form_comment-count {color:#666666;display:block;font-size:0.8em;font-weight:bold;}