<div class="round-box grey padded">
  <h2>About</h2>
  <p>Fantasy Trade Critic (FTC) was created to help you win your fantasy sports league. The right trade can easily make your fantasy season, whereas the wrong one can just as easily wreck it. While many fantasy sports experts help to answer specific questions each week on blogs, it's impossible to answer every single question. So we've put together a community to help you answer your burning trade questions.</p>
 
<p>Since every league and every team has its own intricacies, we highly recommend using the comment box to explain your specific situation and why you're considering making a specific trade. We wouldn't advise trading away Mark Texiera for Curtis Granderson, but if you already have Albert Pujols and Miguel Cabrera and desperately need an outfielder, it might be worth your while.</p>
 
<p>Fantasy Trade Critic was created by a couple of guys who, like you, love fantasy sports. Always struggling with the question of what trades to make, we decided to build a website dedicated to helping crowdsource fantasy advice, to help avoid blunders. Think of FTC as your lifeline for fantasy success.</p>
 
<p>Have some ideas to improve Fantasy Trade Critic? <a href="/contact">Contact us</a>. Looking for some more fantasy advice? Visit <a href="http://blog.fantasytradecritic.com">our blog</a>.</p>
</div>