<div class="round-box grey padded clearfix center">
  <h2>Select a league</h2>
  <p>The first step is to select a league for your trade:</p>
  <ul class="league-select">
    <li><a class="nfl" href="/trades/new/nfl"><span class="ico">NFL</span></a>
    <li><div class="nhl"><span class="ico"><strike>NHL</strike></span></div>
    <li><div class="nba" href="/trades/new/nba"><span class="ico"><strike>NBA</strike></span></div>
  </ul>
  <p class="comingsoon">*NBA and NHL coming very soon.</p>
</div>
